body {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-width: 480px;
}

.container {
  position: relative;
}
.container .dataViewer {
  position: absolute;
  z-index: 1;
}
.container .searchdiv {
  border-radius: 10px;
  width: 50%;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0% 25%;
  position: absolute;
  top: -80px;
  z-index: 10;
}
.container .searchdiv .searchbox {
  display: flex;
  justify-content: center;
}
.container .searchdiv .searchbox span {
  height: 40px;
  line-height: 40px;
  padding: 0% 0.5%;
  font-size: 15px;
  background: #336699;
  color: white;
  border-radius: 5px 0px 0px 5px;
}
.container .searchdiv .searchbox input {
  border: none;
  border-right: 5px solid #336699;
  padding: 0% 1%;
  font-size: 15px;
}
.container .searchdiv #searchResults .alumni {
  height: 50px;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 90%;
  min-width: 300px;
  margin: 1% auto;
  font-size: 1em;
}
.container .searchdiv #searchResults .alumni a {
  line-height: 50px;
  margin: 0% 5%;
  border-left: 5px solid #950A0A;
  border-radius: 0px 5px 5px 0px;
  font-size: 1em;
  text-decoration: none;
  color: black;
  flex-basis: 25%;
  transition: 0.3s;
}
.container .searchdiv #searchResults .alumni a:hover {
  border-left: 15px solid #336699;
}
.container .searchdiv #searchResults .alumni a:hover {
  color: darkgrey;
}
.container .searchdiv #searchResults .alumni p {
  font-size: 1em;
  line-height: 50px;
  margin: 0% 5%;
  flex-basis: 25%;
}
.container .searchdiv #searchResults .alumni img {
  object-fit: cover;
  width: 50px;
  flex-basis: 25%;
}

#dataViewer {
  width: 65%;
  margin: auto;
  margin-top: 85px;
}
@media only screen and (max-width: 800px) {
  #dataViewer {
    width: 90%;
  }
}
#dataViewer .alumni {
  border-left: 8px solid #950A0A;
  box-shadow: 1px 1px 15px lightgrey;
  margin: 3%;
}
#dataViewer .alumni .top {
  display: flex;
  width: 100%;
}
#dataViewer .alumni .top .topleft {
  margin: auto;
}
#dataViewer .alumni .top .topleft .aImage {
  border-radius: 0px 15px 15px 0px;
  margin: 1% 0%;
  width: 200px;
}
#dataViewer .alumni .top .topRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#dataViewer .alumni .top .topRight p {
  border-left: 5px solid transparent;
  margin-top: 3%;
  font-size: 1.5em;
}
#dataViewer .alumni .top .topRight a {
  border-left: 5px solid #950A0A;
  border-radius: 0px 5px 5px 0px;
  padding: 1%;
  font-size: 1em;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
#dataViewer .alumni .top .topRight a:hover {
  border-left: 15px solid #336699;
}
#dataViewer .alumni .top .topRight a:hover {
  color: darkgrey;
}
#dataViewer .alumni .bottom {
  display: flex;
}
#dataViewer .alumni .bottom .bottomLeft {
  width: 50%;
}
#dataViewer .alumni .bottom .bottomLeft p {
  font-size: 1.5em;
  margin: 0%;
  margin-left: 5px;
}
#dataViewer .alumni .bottom .bottomLeft span {
  font-weight: 300;
  margin-left: 5px;
}
#dataViewer .alumni .bottom .bottomRight {
  width: 50%;
  text-align: center;
}
#dataViewer .alumni .bottom .bottomRight button {
  border: none;
  width: 50%;
  height: 50%;
  cursor: pointer;
  font-size: 1em;
  transition: 0.05s;
}
#dataViewer .alumni .bottom .bottomRight button:active {
  font-size: 1.05em;
}

.fav {
  background: #FFD700;
}

/*# sourceMappingURL=spStyle.css.map */
