$alumni-color: #950A0A;
$business-color:  #002441;

body
{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	min-width:480px;
}

.container
{
	box-shadow: 1px 1px 15px lightgrey;
	width: 80%;
	margin: auto;
	padding-bottom: 3%;
	margin-top: 3%;

	.imgdiv
	{
		width:100%;
		img
		{
			width: 33.3%;
			margin: 2% 33.3%;//margin:auto; not working
		}
	}

	.coc
	{
		color: $business-color;
		margin-bottom: 5%;
		padding: 0.5%;
		.cocheader
		{	

			font-size: 1.5em;
			margin: 0%;
			text-decoration: underline;

		}

		.coctext
		{
			width:90%;
			margin: auto;
			font-size: 1em;
			font-weight: 300;
		}
	}

	

	.formcontainer
	{
		
		.businessregisterform
		{
			box-shadow: 1px 1px 15px lightgrey;
			width: 60%;
			border-radius: 5px;
			margin: auto;
			margin-bottom: 5%;
			padding: 0.3%;
			font-size: 1.1em;

			background: rgba(0,36,65,0.9);

			@media only screen and (max-width: 1000px) 
			{
				width:100%;
			}


			form
			{
				margin: auto;
				width:70%;

			}
			
			p 
			{
				font-size: 2em;
				text-decoration: underline;
				color: white;
				margin-top: 1%;
			}

			span 
			{
				color: white;
			}

			input
			{
				width:100%;
				line-height: 2em;
				margin-bottom: 0.5%;
			}

			.check
			{
				width: 10%;
			}

			.interact
			{
				.btn
				{

					width: 50%;
					margin: 3% 25%; //margin:auto; not working
					height: 50px;

					background: white;
					border: none;
					cursor: pointer;

					transition: 0.0.5s;

					&:active{transform: scale(1.01);}
					&:hover{background:lightgrey;}
				}

			}

			.error
			{
				color: white;
			}
		}
	}



}